body {
  /*font-family: 'Courgette', cursive;*/
  font-family: 'Kaushan Script', cursive;
    
  .calc-body {
    background-color: #4d5063;
    height: 700px ;
    width: 500px;
    border-radius: 25px;
  }

  .calc-top {
    background-color: #4d5067;
    height: 300px ;
    width: 300px;
    border-radius: 25px;
    padding: 31px;
    color: #cec7c9;
   
    div. panel {
      background-color: #41312f;
      height: 15px;
    }
  }
}




.btns-lineone {
  background-color: #b281c7;
  width: 30px;
  height: 50px;
  float: right;
  padding: 30px;
}
/*.btns-linetwo {
  background-color: #acb0c9;
  width: 30px;
  height: 50px;
  float: right;
  padding: 10px;
}

.btns-linethree{
  background-color: #acb0c9;
  width: 30px;
  height: 50px;
  float: right;
  padding: 10px;
}*/